html
  head
    title ROUNAK DANCE ACADEMY
    block scripts
    block style 
  body
    nav#navbar 
        ul 
            div#logo
              img(src="../static/images/logo.png")
              | NDA
            li #[a(href="/") HOME]
            li #[a(href="/") ABOUT ]
            li #[a(href="/") SERVICES] 
            li #[a(href="/") CLASS INFO]
            li #[a(href="/") CONTACT US]
    block content
    block foot
      footer#footer
        | Copyrigth Ⓒ rounakdanceacademy.com | All Right Reservesed 